<div class="login-container">
    <div class="login-container__content">
        <div class="login-page">
            <div class="login-page__left">
                <div class="login-page__left-text">
                    <h2>Login</h2>
                    <p>Get access to your <br> Orders, Wishlist and <br> Recommendations</p>
                </div>
                <div class="login-page__left-image">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTPNq4Tw1Ptj26yaWYFSIi8pNtNV9JzJNGi3uZvsxfTZNhqmx7l"
                        alt="FlipKart">
                </div>
            </div>
            <div class="login-page__right">
                <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLogin()">

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" formControlName="email">
                    <div class="validation-error" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">Email is required</div>
                    <div class="validation-error" *ngIf="loginForm.controls['email'].hasError('invalidEmail')">Email is not valid</div>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" formControlName="password">
                    <div class="validation-error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>

                    <div class="login-page__right-terms">
                        <p>By continuing, you agree to Flipkart's<a> Terms of Use</a> and <a>Privacy Policy.</a></p>
                    </div>
                    <div *ngIf="error" class="error-message">Invalid Credentials</div>
                    <button class="login-page__right-loginbutton" type="submit">Login</button>

                    <div class="login-page__right-signup" (click)="onSignUp()">New to FlipKart? Create an account</div>
                </form>
            </div>
        </div>
    </div>
    <div class="login-container__background"></div>
</div>