<div class="product-list">
    <div class="product-list__item">
        <img src="" alt="img1"/>
        <p>Product 1</p>
        <p>&#8377; 50000</p>
    </div>
    <div class="product-list__item">
        <img src="" alt="img1"/>
        <p>Product 1</p>
        <p>&#8377; 50000</p>
    </div>
    <div class="product-list__item">
        <img src="" alt="img1"/>
        <p>Product 1</p>
        <p>&#8377; 50000</p>
    </div>
    <div class="product-list__item">
        <img src="" alt="img1"/>
        <p>Product 1</p>
        <p>&#8377; 50000</p>
    </div>
</div>