<div class="product-list">
    <div class="product-list__item">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-finish-select-202209-6-7inch-purple_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=1661027425606" alt="img1"/>
        <div class="product-list__item__content">
            <p>Product 1</p>
            <p>&#8377; 50000</p>
            <button class="product-list__item__content__button">Buy Now</button>
        </div>
    </div>
    <div class="product-list__item">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-finish-select-202209-6-7inch-purple_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=1661027425606" alt="img1"/>
        <div class="product-list__item__content">
            <p>Product 1</p>
            <p>&#8377; 50000</p>
            <button class="product-list__item__content__button">Buy Now</button>
        </div>
    </div>
    <div class="product-list__item">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-finish-select-202209-6-7inch-purple_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=1661027425606" alt="img1"/>
        <div class="product-list__item__content">
            <p>Product 1</p>
            <p>&#8377; 50000</p>
            <button class="product-list__item__content__button">Buy Now</button>
        </div>
    </div>
    <div class="product-list__item">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-finish-select-202209-6-7inch-purple_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=1661027425606" alt="img1"/>
        <div class="product-list__item__content">
            <p>Product 1</p>
            <p>&#8377; 50000</p>
            <button class="product-list__item__content__button">Buy Now</button>
        </div>
    </div>
</div>