<div class="top-bar">
    <div class="top-bar__search">
        <img class="top-bar__search__image" src="https://content.couponspy.in/public/shop/240.jpg" />
        
        <input type="search" class="top-bar__search__bar" placeholder="Search for products, brands and more" />
        <button class="top-bar__search__button"><span class="material-symbols-outlined">search</span></button>
    </div>
    <div class="top-bar__buttons">
        <button class="top-bar__buttons__login-button" *ngIf="!userLoggedIn" (click)="onLogin()">Login</button>
        <button class="top-bar__buttons__login-button" *ngIf="userLoggedIn" (click)="onLogout()">Logout</button>
        <button class="top-bar__buttons__seller-button">Become a seller</button>
        <button class="top-bar__buttons__more-button"><p>More</p><span class="material-symbols-outlined">arrow_drop_down</span></button>
        <button class="top-bar__buttons__cart-button" (click)="onCart()"><span class="material-symbols-outlined">shopping_cart</span><p>Cart</p></button>
    </div>
</div>
<app-category-list [categoriesList]="categoriesFromParent"></app-category-list>